In [1]:
# Importing libraries in pandas
# + Explanation on libraries
import pandas as pd

# Demo - downloading data and analysing in python
https://www.kaggle.com/achintyatripathi/yahoo-finance-apple-inc-aapl?select=AAPL_Montly_updates.csv

# Demo - preparing Data
* Uploading to jupyter
* browsing through the directory
* using pandas to read file

In [2]:
# Reading data
df = pd.read_csv("../data/sample_data.csv")

# Exercise  
* download all 3 csvs from https://www.kaggle.com/achintyatripathi/yahoo-finance-apple-inc-aapl?select=AAPL_Montly_updates.csv, and read them into 3 different CSVs
* learning points - relative pathing

In [8]:
# TYPE ANSWER HERE

In [7]:
# Reading excel files? 
df = pd.read_excel("../data/sample_data.xlsx")

# Demo - basic operations on dataframes
* print()
* len()
* df.unique()
* df.columns
* df["column name"]

Pandas Cheatsheet : https://www.slideshare.net/ACASH1011/pandas-cheat-sheet

In [31]:
# Demo -> Edwin

# Demo - Slicing data and operations on dataframes - asking questions of our data
* On which days was volume > 100000000? How many days was this?

In [13]:
daily_df[daily_df["Volume"] > 100000000]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-09-10,53.465000,54.195000,52.927502,54.174999,53.642761,127111600
1,2019-09-11,54.517502,55.927502,54.432499,55.897499,55.348343,177158400
2,2019-09-12,56.200001,56.605000,55.715000,55.772499,55.224567,128906800
3,2019-09-13,55.000000,55.197498,54.255001,54.687500,54.150230,159053200
6,2019-09-18,55.264999,55.712502,54.860001,55.692501,55.145359,101360000
...,...,...,...,...,...,...,...
249,2020-09-03,126.910004,128.839996,120.500000,120.879997,120.879997,257599600
250,2020-09-04,120.070000,123.699997,110.889999,120.959999,120.959999,332607200
251,2020-09-08,113.949997,118.989998,112.680000,112.820000,112.820000,231366600
252,2020-09-09,117.260002,119.139999,115.260002,117.320000,117.320000,176276400
253,2020-09-10,120.360001,120.419998,114.150002,114.274597,114.274597,118115972

# Exercise - Whats the first day that AAPL opened higher than $100

In [9]:
# TYPE ANSWER HERE

# Demo - Calculating statistics
* np.sum()
* np.mean()
* np.median()
* np.percentile()
* np.min()
* np.max()

In [18]:
import numpy as np
np.mean([1,2,3])

2.0

In [22]:
np.mean(daily_df["Volume"].values)

144632315.2440945

# Exercise : From 1st Jan 2020 to 15th Jan 2020, what is the average closing price of AAPL?

In [33]:
# Assignment - chaining operations
store_value = daily_df[daily_df["Volume"]>144632315]

In [30]:
# Aside on strings and integers 
# Demo -> Edwin 
# 3 vs "3"

In [10]:
# TYPE ANSWER HERE!

# Demo - Apply functions 
* Suppose we want to find out what the daily difference between the open and close price is? -> need to create a new row

In [39]:
daily_df["diff"] = daily_df.apply(lambda x: x["Open"]-x["Close"],axis=1)

In [40]:
daily_df

,Date,Open,High,Low,Close,Adj Close,Volume,diff
0,2019-09-10,53.465000,54.195000,52.927502,54.174999,53.642761,127111600,1.267498
1,2019-09-11,54.517502,55.927502,54.432499,55.897499,55.348343,177158400,1.495003
2,2019-09-12,56.200001,56.605000,55.715000,55.772499,55.224567,128906800,0.890000
3,2019-09-13,55.000000,55.197498,54.255001,54.687500,54.150230,159053200,0.942497
4,2019-09-16,54.432499,55.032501,54.389999,54.974998,54.434902,84632400,0.642502
...,...,...,...,...,...,...,...,...
249,2020-09-03,126.910004,128.839996,120.500000,120.879997,120.879997,257599600,8.339996
250,2020-09-04,120.070000,123.699997,110.889999,120.959999,120.959999,332607200,12.809998
251,2020-09-08,113.949997,118.989998,112.680000,112.820000,112.820000,231366600,6.309998
252,2020-09-09,117.260002,119.139999,115.260002,117.320000,117.320000,176276400,3.879997
253,2020-09-10,120.360001,120.419998,114.150002,114.274597,114.274597,118115972,6.269996

# Exercise -> whats the highest diff price? whats the lowest?

# Exercise -> calculate the average difference between the high and low price for AAPL